body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* MOBILE FIRST */

.containter{
  max-width: 600px;
  margin: 50px auto;
  border: 2px solid blue;
}

.box{
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: blue;
}

@media screen and (min-width:480px){
  .containter{
    display: flex;
  }
  .box{
    background-color: red;
  }
}