body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containter{
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
  border: 2px solid blue;

  height: 300px;
  background-color: blue;
}

.box{
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: blue;
}


@media screen and (max-width:479px) {
  .containter{
    background-color: green;
  }
}

@media screen and (min-width: 1440px){
  .containter{
    background-color: red;
  }
}

