body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* MOBILE FIRST */

.containter{
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
  border: 2px solid blue;

  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  border: 1px solid red;
  max-width: 150px;
  margin: 20px;
}


@media screen and (max-width:780px){
  .containter{
    max-width: 450px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:568px){
  .containter{
    flex-direction: column;
  }
}

